<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="fragment/layout :: html(#{title.notice}, ~{::main})">


<main class="w-100 d-flex justify-content-center my-3">
    <style>
        .max-width-700 {
            max-width: 700px;
        }
    </style>

    <div class="max-width-1000 w-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="fs-1 my-3">
            공지사항
        </h1>
        <div class="border-bottom border-secondary" style="width: 55%"></div>
        <section class="max-width-700 p-2" style="width: 55%">
            <p>해당 홈페이지는 실제로 사용할 수 있는 홈페이지가 아닌 개인 학습용 프로젝트로 제작한 홈페이지입니다.</p>
            <p>제작할 때 참고한 실제 쇼핑몰 홈페이지는
                <a class="text-info" target="_blank"
                   href="http://prettypop.co.kr">http://prettypop.co.kr</a>
                입니다.</p>
            <p>
                등록된 상품 정보는 예쁜피오피의 허락을 받고 크롤링하여 사용했습니다.
            </p>
            <p>
                <span>인원 : 1인</span><br>
                <span>개발 : Spring Boot, JPA, Spring Data JPA, QueryDSL, Thymeleaf, MySQL</span><br>
                <span>깃허브 : <a class="text-info" target="_blank"
                               href="https://github.com/h-spear/pretty-pop">https://github.com/h-spear/pretty-pop</a></span>
            </p>
        </section>
    </div>
</main>

</html>
