<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="fragment/layout :: html(#{title.reviews}, ~{::main})">


<main class="w-100 d-flex justify-content-center my-3">
    <style>
        .max-width-700 {
            max-width: 700px;
        }

        .review-menu {
            color: var(--bs-primary);
        }
        .review-menu:hover{
            color: #c85855
        }
        .starR{
            display: inline-block;
            width: 30px;
            height: 30px;
            color: transparent;
            text-shadow: 0 0 0 #f0f0f0;
            font-size: 1.8em;
            box-sizing: border-box;
            cursor: pointer;
        }

        .starR:hover {
            text-shadow: 0 0 0 #ccc;
        }

        .starR.on{
            text-shadow: 0 0 0 #ffbc00;
        }
    </style>

    <div class="max-width-1000 w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="border-bottom border-secondary small pb-1 w-100">
            <span th:text="#{label.review}">Review</span>
        </div>

        <!-- Filter -->
        <section class="d-flex mt-4">
            <a class="btn btn-lg text-white" style="border-bottom-right-radius: 0; border-top-right-radius: 0; background: #c85855"
               th:text="#{label.canWriteReview}">
                Btn1
            </a>
            <a class="btn btn-outline-primary btn-lg" style="border-bottom-left-radius: 0; border-top-left-radius: 0; border-left-width: 0"
               th:href="@{/review/written}" th:text="#{label.writtenReview}">
                Btn2
            </a>
        </section>

        <div class="mt-4 border-bottom border-secondary w-50"></div>

        <section th:if="${items.size() > 0}" class="my-4 max-width-1000 w-100 d-flex flex-column justify-content-center align-items-center">
            <div th:each="item: ${items}" class="w-75 d-flex align-items-center my-2">
                <a href="#" th:href="@{/items/{itemId}(itemId=${item.itemId})}"
                   class="text-dark d-flex mt-2 px-4 w-100 justify-content-center align-items-center my-1">
                    <div>
                        <img class="rounded-2"
                             style="width: 50px; height: 50px;"
                             src="https://dummyimage.com/300x300/d4d4d4/454545.jpg&text=Not+Image"
                             th:if="*{item.itemImageUrl == null}"
                             alt="Not Image" />
                        <img class="rounded-2"
                             style="width: 50px; height: 50px;"
                             src=""
                             th:src="*{item.itemImageUrl}"
                             th:if="*{item.itemImageUrl != null}"
                             alt="Not Image" />
                    </div>
                    <div class="ms-4 w-75">
                        <h1 class="fs-5 fw-bolder"
                            th:text="${item.itemName}">Item Name
                        </h1>
                    </div>
                </a>
                <div>
                    <ul class="m-0 p-0 d-flex fs-3 align-items-center">
                        <li>
                            <button class="review-menu m-0 p-0 mx-3 border-0 bg-transparent"
                               th:onclick="'openReviewForm(' + ${item.itemId} + ')'">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </li>
                        <li>
                            <button class="review-menu m-0 p-0 mx-3 border-0 bg-transparent"
                               th:onclick="'openDeleteModal(' + ${item.itemId} + ')'">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 장바구니가 비었다면 -->
        <section th:if="${items.size() <= 0}" class="max-width-1000 py-3 w-100">
            <div class="mt-5 pt-4 d-flex flex-column justify-content-center align-items-center">
                <h1 class="display-4" th:text="#{message.emptyCanReviewItem}">NO ITEM IN SHOPPING CART</h1>
                <a class="mt-3" href="#" th:href="@{/items}"
                   th:text="#{button.goShopping}">Go Shopping</a>
            </div>
        </section>

        <!-- 리뷰 모달 -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
             style="top: 25%">
            <form class="modal-dialog" role="dialog">
                <input type="hidden" id="parent-id">
                <div class="modal-content" style="width: 400px">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalLabel"
                            th:text="#{label.review}">Review</h4>
                    </div>
                    <div class="modal-body d-flex justify-content-center flex-column align-items-center">
                        <div class="starRev mb-3">
                            <span class="starR on">⭐</span>
                            <span class="starR on">⭐</span>
                            <span class="starR on">⭐</span>
                            <span class="starR on">⭐</span>
                            <span class="starR on">⭐</span>
                        </div>
                        <textarea id="review-input" class="form-control" rows="5"
                                  name="review" placeholder="Enter your review." th:placeholder="#{form.review.placeholder}"
                                  th:text="#{message.review.default}"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-block"
                                id="write-review"
                                th:text="#{button.write}"
                                onclick="writeReview()">Write</button>
                        <button class="btn btn-dark btn-block"
                           onclick="hideModal()"
                           type="button" data-dismiss="modal"
                           th:text="#{button.cancel}">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- 리뷰 작성하지 않는 버튼 -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"
             style="top: 25%">
            <form class="modal-dialog" role="dialog">
                <input type="hidden" id="delete-parent-id">
                <div class="modal-content" style="width: 400px">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deleteModalLabel"
                            th:text="#{label.delete}">Delete</h4>
                    </div>
                    <div class="modal-body" th:text="#{message.canReviewDelete}">Are you sure?</div>
                    <div class="modal-footer">
                        <button class="btn btn-danger btn-block"
                                id="delete-review"
                                th:text="#{button.ok}"
                                onclick="doNotReview()">OK</button>
                        <button class="btn btn-dark btn-block"
                           onclick="hideDeleteModal()"
                           type="button" data-dismiss="modal"
                           th:text="#{button.cancel}">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        let selectItemId = null;
        let selectDeleteItemId = null;

        function hideModal() {
            $('#modal').modal("hide");
            $('.starRev span').parent().children('span').removeClass('on');
            $('.starRev span').addClass('on').prevAll('span').addClass('on');
            $('#review-input').val([[#{message.review.default}]]);
        }

        function hideDeleteModal() {
            $('#deleteModal').modal("hide");
        }

        function openDeleteModal(itemId) {
            $('#deleteModal').modal("show");
            selectDeleteItemId = itemId;
        }

        function doNotReview() {
            event.preventDefault();
            let flag = true;

            $.ajax({
                url: "/items/" + selectDeleteItemId + "/review",
                type: 'put',
                headers: {'Content-Type': 'application/json'},
                async: false,
                success: function (result) {
                    if (result.status == 'success') {
                        flag = true;
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('error!!!');
                }
            });
            flag && window.location.reload();
        }

        $('.starRev span').click(function(){
            $(this).parent().children('span').removeClass('on');
            $(this).addClass('on').prevAll('span').addClass('on');
            return false;
        });

        function getReviewRating() {
            let rating = 0;
            document.querySelectorAll(".starR").forEach(elem => {
                if (elem.classList.contains('on')) {
                    rating += 1;
                }
            });
            return rating;
        }

        function writeReview() {
            event.preventDefault();
            const content = document.querySelector('#review-input').value.replaceAll('\n', '<br>');
            const rating = getReviewRating();
            let flag = true;

            const obj = {
                rating: rating,
                content: content,
            };
            $.ajax({
                url: "/items/" + selectItemId + "/review",
                type: 'post',
                headers: {'Content-Type': 'application/json'},
                async: false,
                data: JSON.stringify(obj),
                success: function (result) {
                    if (result.status == 'success') {
                        alert([[#{message.success.review}]]);
                        flag = true;
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('error!!!');
                }
            });
            flag && window.location.reload();
        }

        function openReviewForm(itemId) {
            let flag = false;

            $.ajax({
                url: "/items/" + itemId + "/review",
                type: 'get',
                headers: {'Content-Type': 'application/json'},
                async: false,
                success: function (result) {
                    if (result.status == 'success') {
                        flag = true;
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('error!!!');
                }
            });

            if (flag) {
                $('#modal').modal("show");
                selectItemId = itemId;
            }
        }
    </script>
</main>

</html>
