<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragment/header :: header(#{title.join})" />

<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <fieldset class="card shadow-lg border-0 rounded-lg mt-5 mb-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4" th:text="#{form.join.title}">Create Account</h3>
                                </div>
                                <div class="card-body">
                                    <form role="form" action="/join" th:object="${joinForm}" method="post">
                                        <div th:if="${#fields.hasGlobalErrors()}">
                                            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                                               th:text="${err}">Global Error Msg</p>
                                        </div>
                                        <fieldset>
                                            <!-- ID -->
                                            <div class="form-group">
                                                <label for="username"
                                                       class="form-label mt-4"
                                                       th:text="#{form.username}">ID</label>
                                                <span class="text-danger">*</span>
                                                <div class="form-group mb-2">
                                                    <input type="text" class="form-control" th:errorclass="is-invalid"
                                                           placeholder="Create a ID" th:placeholder="#{form.username.placeholder}"
                                                           id="username" th:field="*{username}">
                                                    <div class="invalid-feedback" th:errors="*{username}"></div>
                                                </div>
                                            </div>

                                            <!-- Password -->
                                            <div class="form-group">
                                                <label for="password" class="form-label mt-4"
                                                       th:text="#{form.password}">Password</label>
                                                <span class="text-danger">*</span>
                                                <input type="password" class="form-control" th:errorclass="is-invalid"
                                                       id="password" th:field="*{password}"
                                                       placeholder="Password" th:placeholder="#{form.password.placeholder}">
                                                <div class="invalid-feedback" th:errors="*{password}"></div>
                                            </div>

                                            <!-- Password Confirm -->
                                            <div class="form-group">
                                                <label for="passwordConfirm" class="form-label mt-4"
                                                       th:text="#{form.passwordConfirm}">PasswordConfirm</label>
                                                <span class="text-danger">*</span>
                                                <input type="password" class="form-control" th:errorclass="is-invalid"
                                                       id="passwordConfirm" th:field="*{passwordConfirm}"
                                                       placeholder="PasswordConfirm" th:placeholder="#{form.passwordConfirm.placeholder}">
                                                <div class="invalid-feedback" th:errors="*{passwordConfirm}"></div>
                                            </div>

                                            <!-- Name -->
                                            <div class="form-group">
                                                <label for="name" class="form-label mt-4"
                                                       th:text="#{form.name}">Name</label>
                                                <span class="text-danger">*</span>
                                                <input type="text" class="form-control" th:errorclass="is-invalid"
                                                       id="name" th:field="*{name}"
                                                       placeholder="Name" th:placeholder="#{form.name.placeholder}">
                                                <div class="invalid-feedback" th:errors="*{name}"></div>
                                            </div>

                                            <!-- Gender -->
                                            <fieldset class="form-group mt-1">
                                                <label class="form-label mt-4"
                                                       th:text="#{form.gender}">Gender</label>
                                                <span class="text-danger">*</span>
                                                <div class="form-check form-check-inline">
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" value="MALE" class="form-check-input" id="genderMale" name="gender" th:checked="true">
                                                        <label for="genderMale" class="form-check-label" th:text="#{form.gender.male}">Male</label>
                                                    </div>
                                                    <div class="form-check form-check-inline ms-sm-2">
                                                        <input type="radio" value="FEMALE" class="form-check-input" id="genderFemale" name="gender">
                                                        <label for="genderFemale" class="form-check-label" th:text="#{form.gender.female}">Female</label>
                                                    </div>
                                                    <div class="invalid-feedback" th:errors="*{gender}"></div>
                                                </div>
                                            </fieldset>

                                            <!-- Birthday -->
                                            <div class="form-group">
                                                <label for="birthDate" class="form-label mt-4"
                                                       th:text="#{form.birthDate}">Birthday</label>
                                                <input type="date" class="form-control" th:errorclass="is-invalid"
                                                       id="birthDate" th:field="*{birthDate}">
                                                <div class="invalid-feedback" th:errors="*{birthDate}"></div>
                                            </div>

                                            <!-- Address -->
                                            <fieldset class="form-group">
                                                <label for="address" class="form-label mt-4"
                                                       th:text="#{form.address}">Address</label>
                                                <span class="text-danger">*</span>
                                                <div class="input-group mb-2">
                                                    <input type="text" class="form-control" th:placeholder="#{form.zipcode.placeholder}" readonly
                                                           id="zipcode" th:field="*{address.zipcode}" th:classappend="${#fields.hasErrors('address') ? 'is-invalid' : ''}">
                                                    <button class="btn btn-primary" type="button" id="button-zipcode"
                                                            th:text="#{button.zipcode}" onclick="getPostcode()">Find postal code</button>
                                                </div>
                                                <div style="display: flex">
                                                    <input type="text" class="form-control" readonly
                                                           id="address" th:field="*{address.address}" style="width: 70%"
                                                           th:classappend="${#fields.hasErrors('address') ? 'is-invalid' : ''}"
                                                           th:placeholder="#{form.roadAddress.placeholder}">
                                                    <input type="text" class="form-control ms-sm-2"
                                                           id="detailAddress" th:field="*{address.detailAddress}" style="width: 30%"
                                                           th:placeholder="#{form.detailAddress.placeholder}">
                                                </div>
                                                <input id="jibunAddress" th:field="*{address.jibunAddress}" readonly
                                                       th:placeholder="#{form.address.defaultMessage}"
                                                       style="width:100%; border:none; background: transparent; cursor: default;" class="form-text text-muted ms-sm-1 mb-2">

                                                <div class="invalid-feedback d-flex"
                                                     th:errors="${joinForm.address}">
                                                </div>
                                            </fieldset>
                                            <!-- Phone Number -->
                                            <div class="form-group">
                                                <label for="phoneNumber" class="form-label mt-4"
                                                       th:text="#{form.phoneNumber}">Phone Number</label>
                                                <span class="text-danger">*</span>
                                                <input type="text" class="form-control" th:errorclass="is-invalid"
                                                       placeholder="Phone Number" th:placeholder="#{form.phoneNumber.placeholder}"
                                                       id="phoneNumber" th:field="*{phoneNumber}" maxlength="13">
                                                <div class="invalid-feedback" th:errors="*{phoneNumber}"></div>
                                            </div>

                                            <!-- email -->
                                            <div class="form-group">
                                                <label for="phoneNumber" class="form-label mt-4"
                                                       th:text="#{form.email}">Email</label>
                                                <div class="form-group mb-2">
                                                    <input type="text" class="form-control" th:errorclass="is-invalid"
                                                           placeholder="Enter your e-mail address" th:placeholder="#{form.email.placeholder}"
                                                           id="email" th:field="*{email}">
                                                    <div class="invalid-feedback" th:errors="*{email}"></div>
                                                </div>
                                            </div>

                                            <!-- Button -->
                                            <div class="mt-5 mb-2" style="display: flex; justify-content: center">
                                                <button type="submit" class="btn btn-primary" style="width: 100%" th:text="#{button.registerSubmit}">Submit</button>
                                            </div>

                                        </fieldset>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="login.html" th:href="@{/login}" th:text="#{form.join.goLoginPage}">Have an account? Go to login</a></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">
        // 우편 번호 다움 API
        function getPostcode() {
            event.preventDefault();
            new daum.Postcode({
                oncomplete: function(data) {
                    document.getElementById('zipcode').value = data.zonecode;
                    document.getElementById("address").value = data.roadAddress;
                    document.getElementById("jibunAddress").value = data.jibunAddress;
                    document.getElementById("detailAddress").value = '';
                }
            }).open();
        }

        // 휴대폰 번호 자동 하이픈 처리
        function autoHypenPhone(str){
            str = str.replace(/[^0-9]/g, '');
            let tmp = '';
            if (str.length < 4) {
                return str;
            } else if (str.length < 7) {
                tmp += str.substr(0, 3);
                tmp += '-';
                tmp += str.substr(3);
                return tmp;
            } else if(str.length < 11) {
                tmp += str.substr(0, 3);
                tmp += '-';
                tmp += str.substr(3, 3);
                tmp += '-';
                tmp += str.substr(6);
                return tmp;
            } else {
                tmp += str.substr(0, 3);
                tmp += '-';
                tmp += str.substr(3, 4);
                tmp += '-';
                tmp += str.substr(7);
                return tmp;
            }
            return str;
        }

        let cellPhone = document.getElementById('phoneNumber');
        cellPhone.onkeyup = function(event){
            event = event || window.event;
            let _val = this.value.trim();
            this.value = autoHypenPhone(_val) ;
        }
    </script>
</body>

</html>
