<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="errorPageLayout (code, content)">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="/css/styles.css" rel="stylesheet">
    <title>[[${code}]] Error - [[#{title}]]</title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4" th:replace="${content}">
                            <h1 class="display-1">400</h1>
                            <p class="lead">Bad Request</p>
                            <p>The server cannot or will not process the request due to something that is perceived to be a client error.</p>
                            <a href="index.html">
                                <i class="fas fa-arrow-left me-1"></i>
                                Return to Dashboard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutError_footer">
    </div>
</div>
</body>
</html>