<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header id="layoutHeader" th:fragment="header" class="d-flex flex-column position-relative m-0 w-100">
  <style>

    .header-logo {
      width: 200px;
    }

    .max-width-1000 {
      max-width: 1000px;
    }

    #topMenu {
      background: #ebebeb;
    }

    #topMenu ul,
    #userMenu ul{
      display: flex;
      flex-direction: row;
    }

    #topMenu ul > li,
    #userMenu ul > li{
      list-style:none;
      padding: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    #topMenu ul > li > a {
      font-size: 0.75em;
      text-decoration: none;
      color: black;
    }

    #userMenu ul > li > a {
      font-size: 2em;
      text-decoration: none;
    }

    .userMenu-item > a{
      color: dimgrey;
    }

    .userMenu-item:hover a {
      transition: 0.2s;
      color: #eb6864;
    }
  </style>

  <div th:object="${#authentication.principal}">
    <div id="topMenu" class="m-0 w-100 d-flex justify-content-center py-1">
      <div class="max-width-1000 w-100 d-flex justify-content-between">
        <ul class="m-0 p-0">
<!--          <li>-->
<!--            <a href="#" th:href="@{/language}" class="me-2">-->
<!--              <img src="/assets/images/lang/lang_ko.png"/> <span id="lang-ko">한국어</span>-->
<!--            </a>-->
<!--            <a href="#" th:href="@{/language}">-->
<!--              <img src="/assets/images/lang/lang_en.png"/> <span id="lang-en">영어</span>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
        <ul class="m-0 p-0 d-flex align-items-center">
          <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="me-3" style="font-size: 13px">
            <span th:text="|#{login} : *{nickname}(*{username}) |"></span>
          </li>
          <li sec:authorize="isAnonymous()">
            <a href="#" th:text="#{header.button.login}" th:href="@{/login}">Login</a>
          </li>
          <li sec:authorize="isAnonymous()">
            <a href="#" th:text="#{header.button.join}" th:href="@{/join}">Join</a>
          </li>
          <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
            <a href="#" th:text="#{header.button.myPage}" th:href="@{/member}">My page</a>
          </li>
          <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
            <a href="#" th:text="#{header.button.order}" th:href="@{/order}">Order</a>
          </li>
          <li sec:authorize="isAnonymous()">
            <a href="#" th:text="#{header.button.order}" th:href="@{/member}">Order</a>
          </li>
          <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
            <a href="#" th:text="#{header.button.logout}" th:onclick="logout()">Logout</a>
          </li>
<!--          <li><a href="#" th:text="#{header.button.notice}" th:href="@{/notice}">Notice</a></li>-->
          <!--          <li><a href="#" th:text="#{button.csCenter}" th:href="@{/cs-center}">CS Center</a></li>-->
          <li><a href="#" th:text="#{footer.button.use}" th:href="@{/use}">Use</a></li>
          <li sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <a href="#" th:text="#{header.button.manage}" th:href="@{/manage}">Manage</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid py-4" style="max-width: 1000px">
    <div class="d-flex align-items-center justify-content-between small">
      <div>
        <a href="#" th:href="@{/}">
          <img src="/images/logo.png" class="header-logo"/>
        </a>
      </div>
      <form class="d-flex mx-5 w-75" style="min-width: 400px"
            th:onsubmit="keywordSearch()">
        <input class="form-control me-sm-2"
               id="keywordInput"
               type="search" placeholder="Search"
               th:placeholder="#{search.placeholder}">
        <button class="btn btn-primary my-sm-0" type="submit"
                th:onclick="keywordSearch()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <div id="userMenu">
        <ul class="m-0 p-0 d-flex justify-content-center">
          <li class="userMenu-item">
            <a href="#" th:href="@{/member}">
              <i class="fa-solid fa-user"></i>
            </a>
          </li>
          <li class="userMenu-item mx-4">
            <a href="#" th:href="@{/wish}">
              <i class="fa-solid fa-heart"></i>
            </a>
          </li>
          <li class="userMenu-item">
            <a href="#" th:href="@{/cart}">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script>
    const keywordInput = document.querySelector('#keywordInput');
    keywordInput.value = getUrlParam('keyword');

    function logout() {
      const form = document.createElement('form');
      form.setAttribute("role", "form");
      form.setAttribute("method", "post");
      form.setAttribute("action", "/logout");

      document.body.appendChild(form);
      form.submit();
    }

    function keywordSearch() {
      event.preventDefault();
      const keyword = keywordInput.value;
      const url = new URL(window.location.href);
      const urlParams = url.searchParams;
      if (keyword != null && keyword != undefined) {
        urlParams.set('keyword', keyword);
      }
      location.href = '/items?' + urlParams.toString();
    }

    function getUrlParam(param) {
      const url = new URL(window.location.href);
      const urlParams = url.searchParams;
      return urlParams.get(param);
    }
  </script>
  <script>
    // const languageCookieName = 'lang';
    // const languageToggleText = document.querySelector('.language-toggle-text');

    // window.onload = function() {
    //   const langKo = document.querySelector('#lang-ko');
    //   const langEn = document.querySelector('#lang-en');
    //   if (getCookie(languageCookieName) === 'en') {
    //     langKo.innerHTML = 'Korean';
    //     langEn.innerHTML = 'English';
    //   } else {
    //     langKo.innerHTML = '한국어';
    //     langEn.innerHTML = '영어';
    //   }
    // };

    // function expireCookie(cookieName) {
    //   document.cookie = cookieName + '=value; max-age=0';
    // }
    //
    // function setCookie(cookieName, value, days) {
    //   let expireDate = new Date();
    //   expireDate.setDate(expireDate.getDate() + days);
    //
    //   let cookieValue = escape(value) + ((days == null) ? '' : '; expires=' + expireDate.toUTCString());
    //   document.cookie = cookieName + '=' + cookieValue;
    // }
    //
    // function getCookie(cookieName) {
    //   let x, y;
    //   let val = document.cookie.split(';');
    //
    //   for (let i = 0; i < val.length; i++) {
    //     x = val[i].substr(0, val[i].indexOf('='));
    //     y = val[i].substr(val[i].indexOf('=') + 1);
    //     x = x.replace(/^\s+|\s+$/g, '');
    //     if (x == cookieName) {
    //       return unescape(y);
    //     }
    //   }
    // }
  </script>
</header>
