<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav id="layoutNavbar" th:fragment="navbar" class="navbar navbar-expand navbar-dark bg-primary w-100">
  <style>
    .max-width-1000 {
      max-width: 1000px;
    }

    .nav-item {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
  </style>

  <div class="container-fluid max-width-1000">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto fs-6">
        <li class="nav-item">
          <a class="nav-link" href="#"
             th:href="@{/items}"
             th:text="#{navbar.home}">Home</a>
        </li>
        <li class="nav-item"
            th:each="category: ${T(prettypop.shop.entity.Category).values()}">
          <a class="nav-link" href="#"
             th:href="@{/items(category=${category})}"
             th:text="#{'navbar.' + ${category}}">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
