<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="fragment/layout :: html(#{title.shoppingCart}, ~{::main})">


<main class="w-100 d-flex justify-content-center my-3">
    <style>
        .max-width-700 {
            max-width: 700px;
        }

        .cartMenu-item > a{
            color: dimgrey;
        }

        .cartMenu-item:hover a {
            transition: 0.2s;
            color: #eb6864;
        }

        .cartItem:hover {
            cursor: pointer;
            -webkit-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.35);
            box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.35);
            transition: 0.2s;
        }
    </style>

    <div class="max-width-1000 w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="border-bottom border-secondary small pb-1 w-100">
            <span th:text="#{label.shoppingCart}">Shopping Cart</span>
        </div>

        <!-- 장바구니에 상품이 있다면 -->
        <section th:if="${cartList.size() > 0}" class="max-width-700 py-3 w-100">
            <div th:each="item: ${cartList}" class="cartItem mb-2 p-4 d-flex align-items-center" style="font-size: 14px"
                 th:id="cartItemContainer + ${itemStat.index}">
                <div style="width: 125px; height: 125px;">
                    <img class="rounded-2"
                         style="width: 125px; height: 125px;"
                         src="https://dummyimage.com/300x300/d4d4d4/454545.jpg&text=Not+Image"
                         th:if="*{item.getThumbnailImageUrl() == null}"
                         alt="Not Image" />
                    <img class="rounded-2"
                         style="width: 125px; height: 125px;"
                         src=""
                         th:src="*{item.getThumbnailImageUrl()}"
                         th:if="*{item.getThumbnailImageUrl() != null}"
                         alt="Not Image" />
                </div>
                <div class="ms-4 w-100">
                    <h1 class="fs-2 fw-bolder"
                        th:text="${item.itemName}">Item Name</h1>
                    <div th:if="${item.purchasePrice < item.originalPrice}">
                        <span class="badge bg-danger" th:text="#{label.discount(${item.discountRate})}">Danger</span>
                        <span th:text="|${item.originalPrice * item.count}#{unit.money}|"
                              class="text-muted text-decoration-line-through">$20.00</span>
                    </div>
                    <p th:text="|${item.purchasePrice * item.count}#{unit.money}|"
                       style="font-size: 18px" class="fw-bold text-dark m-0">$18.00</p>

                    <div class="input-group mt-2 d-flex align-items-center">
                        <input class="form-control text-center px-1" style="max-width: 80px"
                               type="number"
                               th:onchange="'validateCount(' + ${itemStat.index} + ')'"
                               th:id="itemQuantityInput + ${itemStat.index}"
                               th:value="${item.count}">
                        <button class="btn btn-primary" type="button"
                                th:id="itemQuantityButton + ${itemStat.index}"
                                th:text="#{label.change}" th:onclick="'changeCount(' + ${itemStat.index} + ',' + ${item.itemId} + ')'">
                            Change
                        </button>
                    </div>
                </div>
                <div class="ms-5">
                    <ul th:id="itemRemoveUl + ${itemStat.index}" class="m-0 p-0 d-flex justify-content-center fs-3">
                        <li th:id="itemRemoveButton + ${itemStat.index}" class="cartMenu-item mx-4">
                            <a th:id="itemRemoveLink + ${itemStat.index}" href="#" th:onclick="'deleteItem(' + ${item.itemId} + ')'">
                                <i th:id="itemRemoveIcon + ${itemStat.index}"
                                   class="fa-regular fa-trash-can"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 장바구니가 비었다면 -->
        <section th:if="${cartList.size() <= 0}" class="max-width-700 py-3 w-100">
            <div class="mt-5 pt-4 d-flex flex-column justify-content-center align-items-center">
                <h1 class="display-4" th:text="#{message.emptyShoppingCart}">NO ITEM IN SHOPPING CART</h1>
                <h3 class="ft-5" th:text="#{message.emptyShoppingCart2}"></h3>
                <a class="mt-3" href="#" th:text="#{button.goShopping}">Go Shopping</a>
            </div>
        </section>
    </div>

    <script th:inline="javascript">

        const count = [[${cartList.size()}]];
        const cartList = [[${cartList}]];
        cartList.forEach((item, i) => {
            const itemContainer = document.querySelector('#cartItemContainer' + i);
            itemContainer.addEventListener('click', (e) => {
                const targetId = e.target.id;
                if (targetId === 'itemQuantityInput' + i ||
                    targetId === 'itemQuantityButton' + i ||
                    targetId === 'itemRemoveButton' + i ||
                    targetId === 'itemRemoveLink' + i ||
                    targetId === 'itemRemoveIcon' + i ||
                    targetId === 'itemRemoveUl' + i) {
                    return;
                }
                window.location.href = '/items/' + item.itemId;
            });
        })

        function validateCount(inputBoxIndex) {
            const input = document.querySelector('#itemQuantityInput' + inputBoxIndex);
            if (input.value * 1 <= 0) {
                alert([[#{message.doNotUnderZero}]]);
                input.value = 1;
            }
        }

        function changeCount(inputBoxIndex, itemId) {
            let flag = false;
            const quantity = document.querySelector('#itemQuantityInput' + inputBoxIndex).value;
            const obj = {
                itemId: itemId,
                quantity: quantity
            }
            $.ajax({
                url: "/cart",
                headers: {'Content-Type': 'application/json'},
                type: 'put',
                async: false,
                data: JSON.stringify(obj),
                success: function (result) {
                    if (result.status == 'success') {
                        flag = true;
                    } else if(result.status == 'fail') {
                        alert('error!!!')
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert("error!!!");
                }
            });
            flag && location.reload();
        }

        function deleteItem(itemId) {
            let flag = false;
            const obj = {
                itemId: itemId
            }
            $.ajax({
                url: "/cart",
                headers: {'Content-Type': 'application/json'},
                type: 'delete',
                async: false,
                data: JSON.stringify(obj),
                success: function (result) {
                    if (result.status == 'success') {
                        flag = true;
                    } else if(result.status == 'fail') {
                        alert('error!!!')
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert("error!!!");
                }
            });
            flag && location.reload();
        }

    </script>
</main>

</html>
