<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
</head>
<body>
    <p>Home</p>

    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"
         th:object="${#authentication.principal}">
        <p th:text="*{username}"></p>
        <p th:text="*{name}"></p>
        <p th:text="*{nickname}"></p>
    </div>

    <div>
        <a sec:authorize="isAnonymous()"
           id="login-text" th:href="@{/login}">
            로그인
        </a>
        <a sec:authorize="isAnonymous()"
           id="signup-text" th:href="@{/member/join}">
            회원가입
        </a>
        <input sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"
               type="button" value="Logout" onclick="logout()">
    </div>

    <script>
        function logout() {
            const form = document.createElement('form');
            form.setAttribute("role", "form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/logout");

            document.body.appendChild(form);
            form.submit();
        }
    </script>
</body>
</html>
