<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="fragment/layout :: html(#{title.items}, ~{::main})">


<main class="w-100 d-flex justify-content-center my-3">
    <style>
        #item-sideMenu {
            width: 220px;
        }

        #item-categoryBox {
            font-size: 16px;
            font-weight: 600;
            border: #f5e625 5px solid;
            width: 180px;
            height: 170px;
        }

        #item-searchConditionBox {
            font-size: 12px;
        }

        #item-searchConditionBox ul > li {
            margin-top: 2px;
        }

        #item-searchConditionBox ul > li > button {
            border: transparent;
            background: transparent;
            margin: 0;
            padding: 0;
            color: var(--bs-link-color);
        }

        #itemDetails {
            font-size: 12px;
        }

        .card-effect:hover {
            cursor: pointer;
            -webkit-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.35);
            box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.35);
            transition: 0.2s;
        }

        .badge-cart {
            font-size: 18px;
            color: transparent;
        }

        .badge-cart:hover {
            transition: 0.2s;
            color: var(--bs-info) !important;
        }

        .card:hover .badge-cart{
            color: var(--bs-secondary);
            transition: 0.2s;
        }
    </style>

    <div class="max-width-1000 w-100 d-flex justify-content-between">
        <section id="item-sideMenu" class="p-2">
            <div id="item-categoryBox" class="d-flex align-items-center justify-content-center">
                <span id="item-category">CATEGORY</span>
            </div>
            <div id="item-searchConditionBox" class="mt-3 p-2">

                <!-- Sort -->
                <div class="mt">
                    <span style="font-size: 15px; font-weight: 700" th:text="#{item.search.sorting}">Sorting</span>
                    <div class="p-0 ps-3 mt-1">
                        <ul class="m-0 p-0">
                            <li class="list-unstyled">
                                <button class="text-decoration-none"
                                   th:onclick="|changeUrlParams('order', '')|">
                                    <span class="text-info fw-bold" th:text="#{item.search.notSort}"></span>
                                </button>
                            </li>
                            <li class="list-unstyled">
                                <button class="text-decoration-none"
                                        th:onclick="|changeUrlParams('order', 'PRICE_ASC')|">
                                    <span th:text="#{item.search.priceAsc}">sort</span>
                                </button>
                            </li>
                            <li class="list-unstyled">
                                <button class="text-decoration-none"
                                        th:onclick="|changeUrlParams('order', 'PRICE_DESC')|">
                                    <span th:text="#{item.search.priceDesc}">sort</span>
                                </button>
                            </li>
                            <li class="list-unstyled">
                                <button class="text-decoration-none"
                                        th:onclick="|changeUrlParams('order', 'REVIEWS_DESC')|">
                                    <span th:text="#{item.search.reviewDesc}">sort</span>
                                </button>
                            </li>
                            <li class="list-unstyled">
                                <button class="text-decoration-none"
                                        th:onclick="|changeUrlParams('order', 'RATING_DESC')|">
                                    <span th:text="#{item.search.ratingDesc}">sort</span>
                                </button>
                            </li>
                            <li class="list-unstyled">
                                <button class="text-decoration-none"
                                        th:onclick="|changeUrlParams('order', 'NEWEST')|">
                                    <span th:text="#{item.search.newest}">sort</span>
                                </button>
                            </li>
                            <li class="list-unstyled">
                                <button class="text-decoration-none"
                                        th:onclick="|changeUrlParams('order', 'SALES_VOLUME')|">
                                    <span th:text="#{item.search.salesVolume}">sort</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Rating -->
                <div class="mt-4">
                    <span style="font-size: 15px; font-weight: 700" th:text="#{item.search.rating}">Rating</span>
                    <ul class="p-0 ps-3 mt-1">
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('ratingGe', '')|">
                                <span class="text-info fw-bold" th:text="#{item.search.ratingAll}">overall</span>
                            </button>
                        </li>
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('ratingGe', 4)|">
                                <span style="font-size: 14px; letter-spacing: -5px" class="me-1">
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <i class="fa-solid fa-star text-secondary"></i>
                                </span>
                                <span th:text="#{item.search.ratingOrMore('4')}">4 or more</span>
                            </button>
                        </li>
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('ratingGe', 3)|">
                                <span style="font-size: 14px; letter-spacing: -5px" class="me-1">
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <i class="fa-solid fa-star text-secondary"></i>
                                    <i class="fa-solid fa-star text-secondary"></i>
                                </span>
                                <span th:text="#{item.search.ratingOrMore('3')}">4 or more</span>
                            </button>
                        </li>
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('ratingGe', 2)|">
                                <span style="font-size: 14px; letter-spacing: -5px" class="me-1">
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <i class="fa-solid fa-star text-secondary"></i>
                                    <i class="fa-solid fa-star text-secondary"></i>
                                    <i class="fa-solid fa-star text-secondary"></i>
                                </span>
                                <span th:text="#{item.search.ratingOrMore('2')}">4 or more</span>
                            </button>
                        </li>
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('ratingGe', 1)|">
                                <span style="font-size: 14px; letter-spacing: -5px" class="me-1">
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <i class="fa-solid fa-star text-secondary"></i>
                                    <i class="fa-solid fa-star text-secondary"></i>
                                    <i class="fa-solid fa-star text-secondary"></i>
                                    <i class="fa-solid fa-star text-secondary"></i>
                                </span>
                                <span th:text="#{item.search.ratingOrMore('1')}">4 or more</span>
                            </button>
                        </li>
                    </ul>
                </div>

                <!-- Price -->
                <div class="mt-4">
                    <span style="font-size: 15px; font-weight: 700" th:text="#{item.search.price}">Price</span>
                    <ul class="p-0 ps-3 mt-1">
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('priceGe', '', 'priceLe', '')|">
                                <span class="text-info fw-bold" th:text="#{item.search.priceAll}">overall</span>
                            </button>
                        </li>
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('priceGe', '', 'priceLe', 10000)|">
                                <span th:text="#{item.search.priceOrLess('10,000')}">10,000 or less</span>
                            </button>
                        </li>
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('priceGe', 10000, 'priceLe', 20000)|">
                                <span th:text="#{item.search.priceBetween('10,000', '20,000')}">10,000 ~ 20,000</span>
                            </button>
                        </li>
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('priceGe', 20000, 'priceLe', 30000)|">
                                <span th:text="#{item.search.priceBetween('20,000', '30,000')}">20,000 ~ 30,000</span>
                            </button>
                        </li>
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('priceGe', 30000, 'priceLe', 40000)|">
                                <span th:text="#{item.search.priceBetween('30,000', '40,000')}">30,000 ~ 40,000</span>
                            </button>
                        </li>
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('priceGe', 40000, 'priceLe', 50000)|">
                                <span th:text="#{item.search.priceBetween('40,000', '50,000')}">40,000 ~ 50,000</span>
                            </button>
                        </li>
                        <li class="list-unstyled">
                            <button class="text-decoration-none"
                               th:onclick="|changeUrlParams('priceGe', 50000, 'priceLe', '')|">
                                <span th:text="#{item.search.priceOrMore('50,000')}">50,000 or more</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 결과가 있을 때 -->
        <section th:if="${itemQueryResults.content.size() > 0}"
                 id="item-container" class="w-100 py-2 px-3">
            <div class="row gx-4 gx-lg-3 row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-center">
                <!-- Product card -->
                <a th:each="item: ${itemQueryResults}"
                   href="#" th:href="@{/items/{id}(id=${item.id})}"
                   class="col p-2 mb-3 card-effect text-decoration-none text-black">
                    <div class="card h-100 w-100 border-0 mb-3">
                        <!-- Sale badge-->
                        <div th:if="${item.purchasePrice < item.originalPrice}"
                             class="badge bg-primary text-white position-absolute"
                             style="top: 0.5rem; right: 0.5rem">Sale</div>
<!--                        &lt;!&ndash; Cart badge&ndash;&gt;-->
<!--                        <button class="badge border-0 position-absolute d-flex align-items-center badge-cart" style="top: 0.3rem; left: 0.1rem; background: transparent;">-->
<!--                            <i class="fa-solid fa-cart-shopping"></i>-->
<!--                        </button>-->
                        <!-- Product image-->
                        <img class="card-img-top"
                             style="border-radius: 0%"
                             src="/assets/images/item/preparing-image.png"
                             th:if="*{item.getThumbnailImageUrl() == null}"
                             alt="Not Image" />
                        <img class="card-img-top"
                             style="border-radius: 0%"
                             src=""
                             th:src="*{item.getThumbnailImageUrl()}"
                             th:if="*{item.getThumbnailImageUrl() != null}"
                             alt="Not Image" />

                        <!-- Product details-->
                        <div id="itemDetails" class="card-body p-2">
                            <div class="text-center">
                                <!-- Product name-->
                                <span th:text="*{item.name}">Item Name VeryLongVeryLong...</span>

                                <!-- Product price-->
                                <div th:if="${item.purchasePrice < item.originalPrice}">
                                    <span th:text="|*{item.originalPrice}#{unit.money}|"
                                          class="text-muted text-decoration-line-through">$20.00</span>
                                    <span th:text="|*{item.purchasePrice}#{unit.money}|"
                                          style="font-size: 14px" class="fw-bold text-danger">$18.00</span>
                                </div>
                                <div th:unless="${item.purchasePrice < item.originalPrice}">
                                    <span th:text="|*{item.originalPrice}#{unit.money}|"
                                          style="font-size: 14px" class="fw-bold text-danger">$20.00</span>
                                </div>
                                <!-- Product Reviews -->
                                <div class="d-flex justify-content-center mb-2 align-items-center mt-1">
                                    <!-- 평점이 0.5 미만 ☆☆☆☆☆ -->
                                    <div th:if="*{item.getRatingIntegerPart() == 0 && item.getRatingDecimalPart() < 0.5}">
                                        <i th:each="num: ${#numbers.sequence(1, 5)}"
                                           class="fa-solid fa-star text-secondary"></i>
                                    </div>

                                    <!-- 평점이 4.5 이상 ★★★★★ -->
                                    <div th:if="*{item.getRatingIntegerPart() == 4 && item.getRatingDecimalPart() >= 0.5}">
                                        <i th:each="num: ${#numbers.sequence(1, 5)}"
                                           class="fa-solid fa-star text-warning"></i>
                                    </div>

                                    <!-- 그외 -->
                                    <div th:unless="*{(item.getRatingIntegerPart() == 0 && item.getRatingDecimalPart() < 0.5) ||
                                                      (item.getRatingIntegerPart() == 4 && item.getRatingDecimalPart() >= 0.5)}">
                                        <i th:if="*{item.getRatingIntegerPart() > 0}"
                                           th:each="num: ${#numbers.sequence(1, 5)}"
                                           class="fa-solid fa-star"
                                           th:classappend="*{num <= item.getRatingIntegerPart()} ? 'text-warning' : 'text-secondary'"></i>
                                    </div>
                                    <small th:text="'(' + *{item.reviewCount} +  ')'">(250)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Pagination -->
            <div class="d-flex justify-content-center"
                 th:object="${itemQueryResults}"
                 th:with="
                    pageLine = 10,
                    pageNumber = *{pageable.pageNumber},
                    pageSize = *{pageable.pageSize},
                    totalPages = *{totalPages},
                    startPage = ${(pageNumber / pageLine) * pageLine + 1},
                    endPage = (${(totalPages == 0) ? 1 : (startPage + (pageLine - 1) < totalPages ? startPage + (pageLine - 1) : totalPages)})">
                <ul class="pagination">

                    <li th:classappend="${startPage <= 1} ? 'disabled'" class="page-item">
                        <button class="page-link" aria-label="Previous"
                           th:onclick="'paging(' + ${pageNumber - pageLine} + ')'">
                            <span>&laquo;</span>
                            <span class="sr-only">10 Previous</span>
                        </button>
                    </li>

                    <li th:classappend="${!itemQueryResults.hasPrevious()} ? 'disabled'" class="page-item">
                        <button class="page-link" aria-label="Previous"
                           th:onclick="'paging(' + ${pageNumber - 1} + ')'">
                            <span aria-hidden="true">&lt;</span>
                            <span class="sr-only">Previous</span>
                        </button>
                    </li>

                    <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page - 1 == pageNumber} ? 'active'" class="page-item">
                        <button th:text="${page}" class="page-link"
                           th:onclick="'paging(' + ${page - 1} + ')'"></button>
                    </li>

                    <li th:classappend="${!itemQueryResults.hasNext()} ? 'disabled'" class="page-item">
                        <button class="page-link" aria-label="Next"
                           th:onclick="'paging(' + ${pageNumber + 1} + ')'">
                            <span aria-hidden="true">&gt;</span>
                            <span class="sr-only">Next</span>
                        </button>
                    </li>

                    <li th:classappend="${endPage >= totalPages} ? 'disabled'" class="page-item">
                        <button class="page-link" aria-label="Next"
                           th:onclick="'paging(' + ${pageNumber + pageLine >= totalPages ? totalPages - 1 : pageNumber + pageLine} + ')'">
                            <span>&raquo;</span>
                            <span class="sr-only">10 Next</span>
                        </button>
                    </li>
                </ul>
            </div>
        </section>

        <!-- 결과가 없을 때 -->
        <section th:if="${itemQueryResults.content.size() <= 0}"
                 class="w-100 d-flex justify-content-center align-items-center">
            <h1 class="display-4" th:text="#{message.emptyItemView}">
                NO ITEM IN SHOPPING CART
            </h1>
        </section>
    </div>

    <script th:inline="javascript">
        setCategoryBox();

        function setCategoryBox() {
            const category = document.querySelector('#item-category');
            const urlParams = getUrlParams();
            const categoryParam = urlParams.get('category');
            if (urlParams.get("keyword")) {
                category.innerText = 'SEARCH';
            } else if (urlParams.get("category")) {
                category.innerText = categoryParam.replaceAll('_', ' ');
            } else {
                category.innerText = 'ALL';
            }
        }

        function paging(pageNumber) {
            const urlParams = getUrlParams();
            if (pageNumber === undefined || pageNumber === null) {
                pageNumber = 0;
            }
            urlParams.set("page", pageNumber);
            refreshUrl(urlParams);
        }

        function changeUrlParams(param1, value1, param2, value2) {
            const urlParams = getUrlParams();
            setSearchParam(urlParams, param1, value1);
            setSearchParam(urlParams, param2, value2);
            setSearchParam(urlParams, "page", 0);
            refreshUrl(urlParams);
        }

        function setSearchParam(urlParams, param, value) {
            if (param != undefined && param != null) {
                urlParams.set(param, value);
            }
        }

        function getUrlParams() {
            const url = new URL(window.location.href);
            return url.searchParams;
        }

        function refreshUrl(urlParams) {
            location.href = '/items?' + urlParams.toString();
        }
    </script>
</main>

</html>
