<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="fragment/layout :: html(#{title.items}, ~{::main})">


<main class="w-100 d-flex justify-content-center my-3">
    <style>
        #itemDetail p {
            margin-top: 2px;
            margin-bottom: 0;
        }

        .starR{
            display: inline-block;
            width: 30px;
            height: 30px;
            color: transparent;
            text-shadow: 0 0 0 #f0f0f0;
            font-size: 1.8em;
            box-sizing: border-box;
            cursor: pointer;
        }

        .starR:hover {
            text-shadow: 0 0 0 #ccc;
        }

        .starR.on{
            text-shadow: 0 0 0 #ffbc00;
        }
    </style>

    <div class="max-width-1000 w-100 d-flex flex-column align-items-center" th:object="${item}">
        <!-- Product section -->
        <section class="w-100">
            <div class="border-bottom border-secondary small pb-1">
                <span th:text="*{category}">Category</span>
                >
                <span th:text="*{name}">item</span>
            </div>

            <div class="py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="row gx-4 gx-lg-5 align-items-center">
                        <div class="col-md-6">
                            <img class="card-img-top mb-5 mb-md-0"
                                 src="/assets/images/item/preparing-image.png" alt="..."
                                 th:src="*{thumbnailImageUrl}"/>
                        </div>
                        <div class="col-md-6">
                            <h1 class="display-5 fw-bolder"
                                th:text="*{name}">Shop item template</h1>
                            <div id="itemDetail" class="mb-5" style="font-size: 14px">
                                <div th:if="*{originalPrice <= purchasePrice}">
                                    <p>
                                        <span th:text="|#{label.item.salePrice} : |">Selling Price :</span>
                                        <b><span class="text-danger" th:text="|*{originalPrice}#{unit.money}|">9000</span></b>
                                    </p>
                                </div>
                                <div th:if="*{originalPrice > purchasePrice}">
                                    <p th:text="|#{label.item.price} : *{originalPrice}#{unit.money}|">Price : 10000</p>
                                    <p th:text="|#{label.item.discountRate} : *{getDiscountRate()}%|">Discount Rate : 10%</p>
                                    <p>
                                        <span th:text="|#{label.item.salePrice} : |">Selling Price :</span>
                                        <b><span class="text-danger" th:text="|*{purchasePrice}#{unit.money}|">9000</span></b>
                                    </p>
                                </div>
                                <p th:text="|#{label.item.point} : *{earnedPoint}#{unit.point}|">Point : 50</p>
                                <div th:switch="*{itemStatus}" class="me-3">
                                    <p th:case="${T(prettypop.shop.entity.ItemStatus).NEW}"
                                       th:text="|#{label.item.status} : #{itemStatus.new}|">status1</p>
                                    <p th:case="${T(prettypop.shop.entity.ItemStatus).USED}"
                                       th:text="|#{label.item.status} : #{itemStatus.used}|">status2</p>
                                </div>
                                <p th:text="|#{label.item.salesVolume} : *{salesVolume}#{unit.count}|">Sales Volume : 123</p>
                                <p th:text="|#{label.item.stock} : *{stockQuantity}#{unit.count}|">Stock : 9999</p>
                            </div>
                            <p class="lead" th:if="*{description != null}" th:text="*{description}" style="font-size: 12px">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Praesentium at dolorem quidem modi.
                                Nam sequi consequatur obcaecati excepturi alias magni,
                                accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?
                            </p>
                            <div class="d-flex">
                                <input class="form-control text-center me-3 p-1" id="inputQuantity"
                                       type="number" value="1" style="max-width: 5rem"
                                       th:onchange="validateCount()"/>
                                <!-- 구매하기 버튼 -->
                                <div>
                                    <a class="btn btn-outline-primary flex-shrink-0" type="button"
                                            th:href="@{/login(redirectURL='/items/' + ${item.id})}"
                                            sec:authorize="isAnonymous()">
                                        <span th:text="#{button.item.buy}">buy</span>
                                    </a>
                                    <button class="btn btn-outline-primary flex-shrink-0" type="button"
                                            th:onclick="createOrder()"
                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                                        <span th:text="#{button.item.buy}">buy</span>
                                    </button>
                                </div>
                                <!-- 장바구니 버튼 -->
                                <div>
                                    <a class="btn btn-outline-dark flex-shrink-0 ms-3" type="button"
                                       th:href="@{/login(redirectURL='/items/' + ${item.id})}"
                                       sec:authorize="isAnonymous()">
                                        <span th:text="#{button.item.cart}">cart</span>
                                    </a>
                                    <button class="btn btn-outline-dark flex-shrink-0 ms-3" type="button"
                                            onclick="addCart()"
                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                                        <span th:text="#{button.item.cart}">cart</span>
                                    </button>
                                </div>
                                <!-- 찜하기 버튼 -->
                                <div>
                                    <a class="btn btn-outline-dark flex-shrink-0 ms-3" type="button"
                                       th:href="@{/login(redirectURL='/items/' + ${item.id})}"
                                       sec:authorize="isAnonymous()">
                                        <span th:text="#{button.item.wish}">wish</span>
                                    </a>
                                    <button class="btn btn-outline-dark flex-shrink-0 ms-3" type="button"
                                            onclick="addWishList()"
                                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                                        <span th:text="#{button.item.wish}">wish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Review section -->
        <section class="w-100">
            <div class="w-100 d-flex justify-content-end align-items-end mb-4 border-bottom border-secondary">
                <div class="w-100 small pb-1">
                    <h4 th:text="#{label.review}" class="d-inline me-1">Review</h4>
                    <span th:text="|(*{reviewCount})|">123</span>
                </div>
                <div class="me-4 mb-1">
                    <a class="btn btn-primary btn-sm" style="width: 150px"
                       th:href="@{/login(redirectURL='/items/' + ${item.id})}"
                       th:text="#{button.review}"
                       sec:authorize="isAnonymous()">Primary</a>
                    <button type="button" class="btn btn-primary btn-sm" style="width: 150px"
                            th:text="#{button.review}"
                            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"
                            th:onclick="openReviewForm()">Primary</button>
                </div>
            </div>


            <div th:each="review: *{reviewDtos}" class="mt-4 mb-5 px-3">
                <a class="text-decoration-none text-info fw-bold" href="#" style="font-size: 15px"
                   th:href="@{/member/{reviewer}(reviewer=${review.reviewerId})}"
                   th:text="${review.reviewerNickname + '(' + review.reviewerUsername + ')'}"></a>
                <div class="d-inline ms-2" style="font-size: 14px">
                    <i th:each="num: ${#numbers.sequence(1, 5)}"
                       class="fa-solid fa-star"
                       th:classappend="${num <= review.rating} ? 'text-warning' : 'text-secondary'"></i>
                </div>
                <p class="d-inline text-muted ms-2" style="font-size: 10px">
                    <span th:text="|#{label.registrationDate} : ${#temporals.format(review.registrationDate, 'yyyy-MM-dd HH:mm:ss')} / |"></span>
                    <span th:text="|#{label.lastModifiedDate} : ${#temporals.format(review.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}|"></span>
                </p>
                <button th:onclick="'toggleReview(' + ${reviewStat.index} + ')'"
                        class="d-inline ms-4 fw-bold bg-transparent border-0 text-danger" style="font-size: 14px">
                    <i th:id="reviewToggleIcon + ${reviewStat.index}"
                       class="fa-solid fa-chevron-down"></i>
                    <span th:id="reviewToggleMsg + ${reviewStat.index}" th:text="#{button.readReview}">Read Review</span>
                </button>
                <button sec:authorize="hasAnyRole('ROLE_USER')"
                        th:if="${review.reviewerId} == ${#authentication.principal.id}"
                        type="button" class="btn btn-outline-info btn-sm mx-1" th:text="#{button.modify}"
                        th:onclick="'openModifyModal(' + ${reviewStat.index} + ')'">Small button</button>
                <button sec:authorize="hasAnyRole('ROLE_USER')"
                        th:if="${review.reviewerId} == ${#authentication.principal.id}"
                        type="button" class="btn btn-sm btn-outline-danger mx-1" th:text="#{button.delete}"
                        th:onclick="openDeleteModal()">Small button</button>
                <p class="ms-4 mt-1 ft-5 hidden" style="font-size: 12px;"
                   th:id="reviewContent + ${reviewStat.index}"
                   th:utext="${#strings.replace(review.content, nlString, '&lt;br /&gt;')}"></p>
            </div>
        </section>

        <!-- 리뷰 모달 -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
             style="top: 25%">
            <form class="modal-dialog" role="dialog">
                <input type="hidden" id="parent-id">
                <div class="modal-content" style="width: 400px">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalLabel"
                            th:text="#{label.review}">Review</h4>
                    </div>
                    <div class="modal-body d-flex justify-content-center flex-column align-items-center">
                        <div class="starRev mb-3">
                            <span class="starR on">⭐</span>
                            <span class="starR on">⭐</span>
                            <span class="starR on">⭐</span>
                            <span class="starR on">⭐</span>
                            <span class="starR on">⭐</span>
                        </div>
                        <textarea id="review-input" class="form-control" rows="5"
                                  name="review" placeholder="Enter your review." th:placeholder="#{form.review.placeholder}"
                                  th:text="#{message.review.default}"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-block"
                                id="write-review"
                                th:text="#{button.write}"
                                onclick="writeReview()">Write</button>
                        <button class="btn btn-info btn-block"
                                id="modify-review"
                                th:text="#{button.modify}"
                                th:onclick="modifyReview()">Modify</button>
                        <a class="btn btn-dark btn-block"
                           onclick="hideModal()"
                           type="button" data-dismiss="modal"
                           th:text="#{button.cancel}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>


        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"
             style="top: 25%">
            <form class="modal-dialog" role="dialog">
                <input type="hidden" id="delete-parent-id">
                <div class="modal-content" style="width: 400px">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deleteModalLabel"
                            th:text="#{label.delete}">Delete</h4>
                    </div>
                    <div class="modal-body" th:text="#{message.delete}">Are you sure?</div>
                    <div class="modal-footer">
                        <button class="btn btn-danger btn-block"
                                id="delete-review"
                                th:text="#{button.delete}"
                                onclick="deleteReview()">Delete</button>
                        <a class="btn btn-dark btn-block"
                           onclick="hideDeleteModal()"
                           type="button" data-dismiss="modal"
                           th:text="#{button.cancel}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script th:inline="javascript">

        const itemId = [[${item.id}]];

        function toggleReview(index) {
            const reviewContent = document.querySelector('#reviewContent' + index);
            const reviewToggleIcon = document.querySelector('#reviewToggleIcon' + index);
            const reviewToggleMsg = document.querySelector('#reviewToggleMsg' + index);
            if (reviewContent.classList.contains('hidden')) {
                reviewContent.classList.remove('hidden');
                reviewToggleIcon.classList.remove('fa-chevron-down');
                reviewToggleIcon.classList.add('fa-chevron-up');
                reviewToggleMsg.innerText = [[#{button.foldReview}]];
            } else {
                reviewContent.classList.add('hidden');
                reviewToggleIcon.classList.add('fa-chevron-down');
                reviewToggleIcon.classList.remove('fa-chevron-up');
                reviewToggleMsg.innerText = [[#{button.readReview}]];
            }
        }

        function validateCount() {
            const input = document.querySelector('#inputQuantity');
            if (input.value * 1 <= 0) {
                alert([[#{message.doNotUnderZero}]]);
                input.value = 1;
            }
        }

        function createOrder() {

            const obj = {
                itemId: itemId,
                quantity: document.querySelector('#inputQuantity').value
            };

            console.log(obj);
            const form = document.createElement("form");
            const input = new Array();

            form.setAttribute("charset", "UTF-8");
            form.setAttribute("accept-charset", "UTF-8");
            form.setAttribute("method", "GET");
            form.setAttribute("action", "/order/form");

            input[0] = document.createElement("input");
            input[0].setAttribute("type", "hidden");
            input[0].setAttribute("name", 0);
            input[0].setAttribute("value", JSON.stringify(obj));
            form.appendChild(input[0]);
            document.body.appendChild(form);
            form.submit();
        }

        function addCart() {
            const quantity = document.querySelector('#inputQuantity').value;
            const obj = {
                itemId: itemId,
                quantity: quantity
            }
            $.ajax({
                url: "/cart",
                headers: {'Content-Type': 'application/json'},
                type: 'post',
                async: false,
                data: JSON.stringify(obj),
                success: function (result) {
                    if (result.status === 'success') {
                        alert([[#{message.addTheCart}]]);
                    } else if(result.status === 'fail') {
                        alert('error!!!')
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert("error!!!");
                }
            });
        }

        function addWishList() {
            let login = true;
            const obj = {
                itemId: itemId
            }
            $.ajax({
                url: "/wish",
                headers: {'Content-Type': 'application/json'},
                type: 'post',
                async: false,
                data: JSON.stringify(obj),
                success: function (result) {
                    if (result.status == 'success') {
                        alert([[#{message.addTheWishList}]]);
                    } else if(result.status == 'fail') {
                        alert('error!!!')
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert("error!!!");
                }
            });
        }
    </script>
    <!-- 리뷰 관련 -->
    <script th:inline="javascript">
        let selectReviewIndex = 0;

        function hideModal() {
            $('#modal').modal("hide");
            $('.starRev span').parent().children('span').removeClass('on');
            $('.starRev span').addClass('on').prevAll('span').addClass('on');
            $('#review-input').val([[#{message.review.default}]]);
        }

        function hideDeleteModal() {
            $('#deleteModal').modal("hide");
        }

        $('.starRev span').click(function(){
            $(this).parent().children('span').removeClass('on');
            $(this).addClass('on').prevAll('span').addClass('on');
            return false;
        });

        function getReviewRating() {
            let rating = 0;
            document.querySelectorAll(".starR").forEach(elem => {
                if (elem.classList.contains('on')) {
                    rating += 1;
                }
            });
            return rating;
        }

        function deleteReview() {
            event.preventDefault();
            const reviews = [[${item.reviewDtos}]];
            const review = reviews[selectReviewIndex];
            const reviewId = review.id;
            let flag = true;
            $.ajax({
                url: "/items/" + itemId + "/review/" + reviewId,
                type: 'delete',
                headers: {'Content-Type': 'application/json'},
                async: false,
                success: function (result) {
                    if (result.status == 'success') {
                        alert([[#{message.success.deleteReview}]]);
                        flag = true;
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('error!!!');
                }
            });
            flag && window.location.reload();
        }

        function modifyReview() {
            event.preventDefault();
            const reviews = [[${item.reviewDtos}]];
            const review = reviews[selectReviewIndex];
            const reviewId = review.id;
            const content = document.querySelector('#review-input').value.replaceAll('\n', '<br>');
            const rating = getReviewRating();
            let flag = true;

            const obj = {
                rating: rating,
                content: content,
            };
            $.ajax({
                url: "/items/" + itemId + "/review/" + reviewId,
                type: 'put',
                headers: {'Content-Type': 'application/json'},
                async: false,
                data: JSON.stringify(obj),
                success: function (result) {
                    if (result.status == 'success') {
                        alert([[#{message.success.modifyReview}]]);
                        flag = true;
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('error!!!');
                }
            });
            flag && window.location.reload();
        }

        function writeReview() {
            event.preventDefault();
            const content = document.querySelector('#review-input').value.replaceAll('\n', '<br>');
            const rating = getReviewRating();
            let flag = true;

            const obj = {
                rating: rating,
                content: content,
            };
            $.ajax({
                url: "/items/" + itemId + "/review",
                type: 'post',
                headers: {'Content-Type': 'application/json'},
                async: false,
                data: JSON.stringify(obj),
                success: function (result) {
                    if (result.status == 'success') {
                        alert([[#{message.success.review}]]);
                        flag = true;
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('error!!!');
                }
            });
            flag && window.location.reload();
        }

        function openDeleteModal() {
            $('#deleteModal').modal("show");
        }

        function openModifyModal(index) {
            $('#modal').modal("show");
            const reviews = [[${item.reviewDtos}]];
            const review = reviews[index];
            const content = review.content.replaceAll("<br>", "\n");
            let rating = review.rating;
            console.log(review);
            $('#review-input').val(content);
            document.querySelector('#write-review').classList.add('hidden');
            document.querySelector('#modify-review').classList.remove('hidden');
            document.querySelectorAll(".starR").forEach(elem => {
                if (rating > 0) {
                    elem.classList.add('on');
                    rating--;
                } else {
                    elem.classList.remove('on');
                }
            });
            selectReviewIndex = index;
            $('#modal').modal("show");
        }

        function openReviewForm() {
            let flag = false;

            $.ajax({
                url: "/items/" + itemId + "/review",
                type: 'get',
                headers: {'Content-Type': 'application/json'},
                async: false,
                success: function (result) {
                    if (result.status == 'success') {
                        flag = true;
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('error!!!');
                }
            });

            if (flag) {
                document.querySelector('#modify-review').classList.add('hidden');
                document.querySelector('#write-review').classList.remove('hidden');
                $('#modal').modal("show");
            }
        }
    </script>
</main>

</html>
